.footer {
    .footer-text {
        font-size: 1.4rem;
        font-family: nunito-regular;
        color: #fff;
    }
    &__main {
        background-color: $base-color;
        padding: 95px 0;
        &-item {
            @include breakpoint(767) {
                margin-bottom: 20px;
            }
            .footer__main-title {
                font-size: 2.4rem;
                font-family: asl-regular;
                color: #fff;
                margin-bottom: 40px;
            }
            .footer__main-contact {
                display: block;
                i {
                    margin-right: 5px;
                    color: $orange;
                }
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
            .footer__main-branch {
                margin-bottom: 30px;
                .branch__name {
                    font-family: nunito-semibold;
                    font-size: 1.8rem;
                    color: $light-violet;
                    text-decoration: underline;
                    margin-bottom: 20px;
                }
                .branch__contact {
                    i {
                        color: $orange;
                        font-size: 1.4rem;
                        margin-right: 7px;
                    }
                    .branch__location {}
                    .branch {}
                }
            }
        }
    }
    &__bottom {
        height: 100px;
        background-color: $base-color;
        border-top: 1px solid $light-violet;
        .footer__socialMedia {
            a {
                color: #ffffff;
                font-size: 1.6rem;
                &:not(:last-child) {
                    margin-right: 10px;
                }
                &:hover {
                    color: $orange;
                }
                i {}
            }
        }
    }
}